.body{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    .row{
        display: flex;
        width: 1070px;
        min-height: 80px;
        margin-left: auto;
        margin-right: auto;
        background-color: #212223;
        color:#fff;
    }
    .col{
        flex:1;
        flex-direction: row;
        vertical-align: top;
    }
    .component{
        height: 200px;
    }
}
.subrow{
    display: flex;
    vertical-align: top;
    > [data-type="component"]{
        flex:1;
        flex-direction: row;
    }
}