{% extends 'layouts/base.html' %}
{% block head %}
    <link rel="stylesheet" href="css/open-iconic.css">
{% endblock %}
{% block content %}
<div class="page-panel">
    <div class="component-page">
        <button class="prop-list-btn" data-action="showProp">
            <span class="oi" data-glyph="clipboard"></span>
        </button>
        <button class="prop-list-btn" data-action="addRow">
            <span class="oi" data-glyph="plus"></span>
        </button>
        <h4>新页面</h4>
    </div>
</div>
<div class="view-content">
    <div class="body">
        <div class="row" data-row=1>
            <div class="col" data-col=1 style="width:300px;">
                <div class="component"></div>
            </div>
            <div class="col" data-col=2>
                <div class="component"></div>
                <div class="subrow">
                    <div class="component"></div>
                    <div class="component"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "./components/menu-bottom.html" %}
{% include "./components/component-modal.html" %}
{% endblock%}
{% block script%}
    <script src="js/app.js"></script>
{% endblock%}