/* base */
body{
    background-color: #f1f2f1;
}
.page-panel{
    position: fixed;
    top: 0;
    bottom: 50px;
    left: 0;
    z-index: 100;
    width: 300px;
    background: #222;
    color:#fff;
    h3,h4,h5,h6{
        margin: 0;
    }
}
.component-page{
    border-bottom: 2px solid #999;
    padding:12px 0;
    text-indent: 8px;
}
.component-row{
    border-bottom:1px solid #999;
    .row-head{
        padding:12px 0;
        text-indent: 8px;
    }
}
.col-subrow{
    position: relative;
    margin-left: -25px;
    padding-left: 25px;
    outline:1px solid #f90;
    .card-title{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        padding-top: 4px;
        writing-mode: vertical-lr;
        background: linear-gradient(to bottom,rgba(255,144,0,.5) 0%,rgba(255,144,0,.15) 100%);
    }
}
.component-col{
    margin-left: 25px;
    border-top:1px solid #aaa;
    .col-head{
       padding:10px 0;
    }
}
.component-com{
    padding: 10px 0;
    border-top:1px dotted #aaa;
    h6{
        text-indent: 1em;
    }
    .card-title + &{
        border-top: 0;
    }
}

.prop-list-btn{
    float: right;
    width: 25px;
    height: 25px;
    text-align: left;
    margin-right: 8px;
    text-indent: -1px;
    border-radius: 2px;
    background-color: transparent;
    border:0;
    color:#fff;
    &:hover{
        cursor: pointer;
        color:#f90;
    }
}

.view-content{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 300px;
    overflow: auto;
}



