<div class="modal-mask" data-type="modal">
    <div class="modal-panel">
        <div class="panel-head">
             <span class="oi close" data-action="closeModel" data-glyph="x"></span>
             <h4>选择组件</h4>
        </div>
        <div class="panel-body">
            <ul class="component-list">    
                <li class="component-item" data-action="selectComponent" data-component="Banner">Banner</li>
                <li class="component-item" data-action="selectComponent" data-component="List">List</li>
                <li class="component-item" data-action="selectComponent" data-component="Grid">Grid</li>
                <li class="component-item" data-action="selectComponent" data-component="Heading">Heading</li>
                <li class="component-item" data-action="selectComponent" data-component="Image">Image</li>
            </ul>
            <fieldset class="subrow-conf" data-type="subrow">
                <legend>
                    <label class="checkbox-legend">
                        <input type="checkbox" id="subrow" data-action="createSubRow">Create SubRow
                    </label> 
                </legend>
                <div class="subrow-com-list"></div>   
            </fieldset>
        </div>
        <div class="panel-footer">
            <button>
                <span class="oi" data-glyph="check"></span>保存
            </button>
            <button data-action="closeModel">
                <span class="oi" data-glyph="x" ></span>关闭
            </button>
        </div>
    </div>
</div>