<ul class="layout-menu">
    <li class="menu-item">
        <span class="oi" data-glyph="file"></span>
        新建
    </li>
    <li class="menu-item">
        <span class="oi" data-glyph="project"></span>
        加载
    </li>
    <li class="menu-item">
        <span class="oi" data-glyph="fork"></span>
        克隆
    </li>
    <li class="menu-item">
        <span class="oi" data-glyph="task"></span>
        保存
    </li>
    <li class="menu-item">
        <span class="oi" data-glyph="data-transfer-download"></span>
        导出
    </li>
    <li class="menu-item fr">
        <span class="oi" data-glyph="account-logout"></span>
        退出
    </li>
</ul>