<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/head.html' %}
    <title>{{title}}</title>
    {% block head%}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    </div>
    <script src="js/jquery.min.js"></script>
    {% block script%}{% endblock %}
</body>
</html>